.single-cart {
  display: flex;
}
.product-details {
  display: flex;

  color: darkblue;
}
.product-details h3 {
  font-weight: 600;
  margin-bottom: 15px;
}
button {
  background-color: goldenrod;
  padding: 5px 12px;
}
